body {
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

div{
	display: block;
}

p{
	line-height: 1.2;
}

a{
	text-decoration: none;
	color:white;
	font-size: 14px;
}

section{
	margin: 1em;
	display: block;
}

ul{
	font-size: 16px;
	text-align: center;
	list-style: none;
	padding-top: 1em;
	padding-left: 0;
	/*padding-bottom: 1rem;*/
}

li{
	padding: 0.2em;
}

button{
	color: white;
	background-color: #f7d98a;
	border: none;
	font-size: 18px;
}

/*navigation bar start*/

.nav-main{
	background: white;
	width: 100%
	top:0;
	position: fixed;
	padding-top: 1em;
	z-index: 2;
}

.nav-list{
	float: right;;
	padding-left: 0em;
}


.nav a{
	padding-left: 1em;

}

.nav{
	background-color:#94b0d1;
	width: 100%;
	top: 0;
	position: fixed;
	z-index: 5;

	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

}
.nav.scrolled {
	opacity: 0.5;
  

  
}



.button-nav a:hover{
	color:#eaeded;
	-webkit-transition: all 0.5s ease-out;

}

.brand{
	font-size: 20px;
	padding-right: 2em;
}

.brand a{
	font-size: 24px;
	padding-right: 2em;
	
}

.icons{
	float: right;
}

.icon{
	padding-right: 10px;
	padding-top: 15px;
	width: 30px;
	height: auto;
	position: relative;
	z-index: 999;
	float: left;

}

.icon-on-nav{
	padding: 2rem;
	float: right;
	display: inline;

}

#click-icon{
	padding: 0;
}

.button-nav{
	display: inline-block;
	padding: 0em 1em 0em 1em;
	list-style-type: none;
	text-decoration: none;
}




.nav a{
	padding-left: 1em;
}


.my-cart{
	z-index: 999;
}

.my-cart img{
	margin-right: 0.5em;
}

.my-fav{
	z-index: 999;
	padding-left: 0;
}
.my-fav img{
	margin-right: 0.5em;
}

.search{
	z-index: 999;

}

.search img{
	margin-right: 0.5em;
}

/*navigation bar end*/

/*image*/
img{
	display: block;
	margin: auto;
	width: 100%;
}

.container{
	position: relative;
}

#image-holder{
	width: 100%;
	margin-top: 5rem;
	height: auto;
	

}

#image-holder img{
	width: 100%;
	height: auto;

	
}

#instagram-pic{
	width: 100%;
}

#instagram-pic img{
	width: 100%;
	height: auto;
	padding: 2rem;
}

#new-arrival-pic{
	width: 100%;
	margin-top: 2rem;
}

#new-arrival-pic img{
	width: 100%;
	height: auto;
	padding: 1rem;
	margin-top: 2rem;

}

/*text element*/

h1{
	color:black;
	font-size: 15px;
}

h2{
	color: grey;
	font-size: 20px;
	text-transform: lowercase;
}

h5{
	font-size: 12px;
	color: #94b0d1;
	text-transform: uppercase;
	text-align: left;
	margin-left: 2rem;
}




.content-text {
	width: 75%;
	height: auto;
	position: absolute;
	top: 26%;
	left: 18%;
	text-align: center;
}

.content-text button{
	border:none;
	text-align: center;
	text-transform: uppercase;
	padding: 1em 5em;
	margin-top: 25em;
	margin-right: 8em;
	letter-spacing: 2px;
	background-color: #94b0d1;
	color:white;
}

.content-text h1{
	color: white;
	letter-spacing: 2px;
	font-size: 24px;
	max-width: 80%
	text-align:center;
}

.title{
	padding: 0.2em 1em;
	text-align: center;
	border-bottom: 1px solid rgba(50,50,50,0.1);
	margin-top: 5rem;
}



/*item page  section*/
#item-info{
	height: auto;
	margin-top: 3rem;
}

<<<<<<< HEAD
.item-text-info{
	margin-top: 3rem;
}

#item-image{
	height: auto;
	margin-left: 2rem;
}

.img-item{
	width: 50%;
	height: auto;
	padding-top: 2rem;
}

.image-list-container{
	width: 90%;
	height: auto;
	margin: 0 auto;
}

#item-text{
	height: auto;

}

#add-to-cart-container{
	height: auto;
 	margin-top: 1rem;
	margin-bottom: 1em;
	display: inline-block;
	padding-right: 5em;
}

#add-to-cart-container a{
	display: inline-block;


}

.item-text-info a{
	background-color: #f7d98a;
	color: white;
	padding: 0.8rem 2rem;
}

.item-text-info  h2{
	color: #729bcc;
	text-transform: uppercase;
	padding-top: 1em;
}

.item-text-info  h1{
	color: #94b0d1;
	display: inline-block;
	padding-right: 8em;
}

.item-text-info  p{
	color: grey;
}

.item-text-info  li{
	color: grey;
}

#description{
	display: block;
}
/*end of item page section*/

/*popup screen section*/
#mycart-popup{
	height: 30rem;
	width:80%;
	margin-left: 5rem auto;
	position: absolute;
	z-index: 20;
	text-align: center;
	border:1px solid grey;
	background-color: white;
	display: none;
	top: 20%;
	left: 10%;
}

#mycart-popup .title{
	margin-top: 2rem;
}
#mycart-popup img{
	height: auto;
	width: 60%;
}

#mycart-popup h1{
	color: grey;
}
#mycart-popup h2{
	color: #729bcc;
	text-transform: uppercase;
	padding-top: 1em;
	font-size: 14px;
}
#mycart-popup p{
	color: #729bcc;

}
#mycart-popup .viewmore{
	color: #cfe3e3;
	border-bottom: 1px solid #cfe3e3;

}

#mycart-popup div {
	margin-left: 0;
	height: auto;
	display: inline-block;
	width: 500px;
	margin-top: 0;
	vertical-align: middle;

}

.cart-img {
	margin-top: 5rem;
}


#mycart-popup button{
	padding: 1rem 2rem;
	margin: 1rem 0;

}

#mycart-popup:target, #mycart-popup:target+#cover{
	display: block;
	opacity: 5;

}

/*for my list popup*/
#mylist-popup{
	height: 30rem;
	width:80%;
	margin-left: 5rem auto;
	position: absolute;
	z-index: 20;
	text-align: center;
	border:1px solid grey;
	background-color: white;
	display: none;
	top: 20%;
	left: 10%;
}

#mylist-popup .title{
	margin-top: 2rem;
}
#mylist-popup img{
	height: auto;
	width: 60%;
}

#mylist-popup h1{
	color: grey;
}
#mylist-popup h2{
	color: #729bcc;
	text-transform: uppercase;
	padding-top: 1em;
	font-size: 14px;
}
#mylist-popup p{
	color: #729bcc;

}
#mylist-popup .viewmore{
	color: #cfe3e3;
	border-bottom: 1px solid #cfe3e3;

}

#mylist-popup div {
	margin-left: 0;
	height: auto;
	display: inline-block;
	width: 500px;
	margin-top: 0;
	vertical-align: middle;


}

.list-img {
	margin-top: 5rem;
}


#mylist-popup button{
	padding: 1rem 2rem;
	margin: 1rem 0;

}

#mylist-popup:target, #mylist-popup:target+#cover{
	display: block;
	opacity: 5;

}



/*end of my list popup*/
/*thank you popup*/

#thank-popup{
	height: 30rem;
	width:80%;
	margin-left: 5rem auto;
	position: absolute;
	z-index: 20;
	text-align: center;
	border:1px solid grey;
	background-color: white;
	display: none;
	top: 40%;
	left: 10%;
}

#thank-popup .title{
	margin-top: 2rem;
	font-size: 20pt;
	color: #729bcc;
}


#thank-popup h1{
	color: grey;
}
#thank-popup h2{
	color: #94b0d1;
	text-transform: uppercase;
	padding-top: 1em;
	font-size: 14px;
}
#thank-popup p{
	color: #B8C1C1;

}


#thank-popup div {

	height: auto;
	display:block;
	width: 500px;
	margin-top: 5rem;
	margin-left: 15rem;
	vertical-align: middle;

}

.backtohome{
	background-color: #f7d98a;
 	color: white;
 	padding: 1rem 1rem;
 	display: block;
	font-size: 12pt;
	margin-top: 2rem;
	margin-left: 8rem;
	width: 50%;

}
#thank-popup:target, #thank-popup:target+#cover{
	display: block;
	opacity: 5;

}

/*end of thank you popup*/
/* confirm popup*/
#confirm-popup{
	height: 35rem;
	width:80%;
	margin-left: 5rem auto;
	position: absolute;
	z-index: 20;
	text-align: center;
	border:1px solid grey;
	background-color: white;
	display: none;
	top: 40%;
	left: 10%;
}

#confirm-popup .title{
	margin-top: 2rem;
	font-size: 20pt;
	color: #729bcc;
}


#confirm-popup h1{
	color: grey;
}
#confirm-popup ul{
	color: #94b0d1;
	text-transform: uppercase;
	padding-top: 1em;
	font-size: 14px;
	padding-left: 0;

}

#confirm-popup div{
	margin-left: 0;
	height: auto;
	display: inline-block;
	width: 500px;
	margin-top: 0;
	vertical-align: middle;
	
}



.place-order{
	background-color: #f7d98a;
 	color: white;
 	padding: 1rem 1rem;
 	display: block;
	font-size: 12pt;
	margin-top: 2rem;
	margin-left: 8rem;
	width: 50%;

}

.changeinfo{
	background-color: #E4EFEF;
 	color: #B8C1C1;
 	padding: 1rem 1rem;
 	display: block;
	font-size: 12pt;
	margin-top: 1rem;
	margin-left: 8rem;
	width: 50%;
}

#confirm-popup:target, #confirm-popup:target+#cover{
	display: block;
	opacity: 5;

}

/* end of confirm popup*/
#cover{
	position: fixed;
	top: 0;
	left: 0;
	background:rgba(46, 74, 107,0.6);
	z-index: 12;
	width: 100%;
	height: 100%;
	display: none;
}

.close{
	display: block;
	position: absolute;
	top: 0.05rem;
	right: 1rem;
	color: grey;
	height: 30px;
	width: 35px;
	font-size: 30px;
	text-decoration: none;
	text-align: center;

}

/*end of popup screen section*/

/*my cart page section*/
#mycart-page{

}

#mycart-page img{
	width: 50%;
}


#mycart-page-content{
	border-bottom: 1px solid rgba(50,50,50,0.1);

}

#mycart-page-content div{
	height: 150px;

}

#mycart-page-content img{
	height: auto;
	width: 30%;

}

.mycart-page-text h1{
	color: #729bcc;
	text-transform: uppercase;
	padding-top: 1em;

}

.mycart-page-text h3{
	color: #94b0d1;
	display: inline-block;
	padding-right: 8em;

}

.total-amount{
	text-align: right;
	height: 300px;
}

.total-amount h1{
	font-size: 20px;
	font-style: bold;
	text-align: right;

}

.total-amount button{
	padding: 1rem 2rem;
	margin: 1rem 0;
}

#mycart-page .title{
	text-transform: uppercase;
}


/*end of my cart page section*/

/*start of checkout page*/
.payment-info{
	text-align: center;	
}
.select-form{
	font-size: 10pt;
	text-align: left;
	border:1px solid grey;
	transition: all 1s ease;
	padding: 1em 4em 1em 1em;
	margin: 0.5em;
	height: 4em;
	width: 16.5em;
	border-radius: 0;
	background-color: white;
	color: grey;

}

.input-form input{
	font-size: 10pt;
	text-align: left;
	border:1px solid grey;
	transition: all 1s ease;
	padding: 1em 4em 1em 1em;
	margin: 0.5em;
}


.order-summary{
	text-align: center;
}
.order-summary img{
	width: 30%;
	height: auto;
	margin: 0;
	display: inline-block;
	

}


.order-summary a{
 	background-color: #B8C1C1;
 	color: white;
 	padding: 1rem 3rem;
 	margin-top: 4rem;
 	font-size: 12pt;
 }


.order-list{
	border-bottom: 1px solid grey;
	width: 100%;
	height: auto;
}

.order-list h1{
	color: #729bcc;
	display: inline-block;
	vertical-align: top;
}
.order-list h2{
	color: grey;
	display:block;
	text-align: right;
}

.order-list h3{
	color:  #94b0d1;
	text-align: left;
	display: inline-block;

	
	
}

 .confirm-order{
 	height: auto;
 	width: 100%;
 	margin-top: 2rem;
 }

 .payment-info a{
 	background-color: #f7d98a;
 	color: white;
 	padding: 1rem 3rem;
 	margin-top: 4rem;
 	font-size: 12pt;
 }

/*end of checkout page*/

/*start of company page*/

.company div{
	margin-top: 5rem;
	display: inline;
	vertical-align: middle;
	text-align: center;
}

.company-text{
	padding-top: 8rem;
}
/*end of company page*/
/*footer section*/
.footer-bg{
	padding:1rem;
	background-color: #94b0d1;


}

.footer-ul{
	text-align: center;
	font-size: 12px;
}

.footer-content{
	display: inline-block;
	color: #f7d98a;
}

.footer-text{
	text-align: center;
	text-transform: uppercase;
	margin:auto;
	padding-left: 1.5rem;
	padding-top: 15px;
	width: 30px;
	height: auto;
	position: relative;
	z-index: 999;
	float: left;
}

.footer-icons{
	width: 20%;
	margin: 0 auto;
	
}

.center-container{
	width: 52%;
	margin: 0 auto;
	height: auto;
}
=======


/* product css*/

h3{
	

}

.type li{
	text-align:left;
	list-style-type:none;
	font-size: 12px;
	padding-left: 2.5em;
	color:gray;
	
}

.collection li{
	text-align:left;
	list-style-type:none;
	font-size: 12px;
	padding-left: 2.5em;
	color:gray;

}

.filter h3{
	padding: 0.5em 7em;
	background-color: #c3d1e2;

}

.filter {
	color: white;
	position: relative;
	text-align:center;
	display: inline-block;
	padding-top: 10em;
	


}

.product{
	padding: 10em 5em;

}


.product p{
	position: relative;
	text-align: center;
	top:-5em;

	 
}



.product img{
	width:auto;
	display:block;
	opacity: 1.0;
    filter: alpha(opacity=100);
    padding-bottom: 5em;

    
}


.product img:hover{
 
     opacity: 0.5;
    filter: alpha(opacity=50); 
}

/* contact css*/

.contact{
	padding: 10em 0em;


}



.submit{
	padding: 2em;

}
.submit button{
	position: relative;
	border:none;
	text-align: center;
	text-transform: uppercase;
	padding: 1em 4em;
	letter-spacing: 2px;
	background-color: #94b0d1;
	color:white;
	font-size: 14px;
}

.info{
	position: relative;
	padding: 10em 10em;
	text-align: center;
	

}

/*start of citation page*/
.cite{
	margin: 8rem 0 0 0;
}

.cite h2{
	color: black;
	text-transform: uppercase;
}

.cite h1{
	color: #94b0d1;
	font-size: 12pt;
}

.cite li{
	color: grey;
	font-size: 10pt
}
>>>>>>> master
