body {
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

div{
	display: block;
}

p{
	line-height: 1.2;
}

a{
	text-decoration: none;
	color: white;
}

section{
	margin: 1em;
	display: block;
}

ul{
	font-size: 16px;
	text-align: center;
	list-style: none;
	padding-top: 1em;
	padding-left: 0;
	/*padding-bottom: 1rem;*/
}

li{
	padding: 0.2em;
}

/*navigation bar start*/

.nav-main{
	background: white;
	width: 100%
	top:0;
	position: fixed;
	padding-top: 1em;
	z-index: 2;
}

.nav-list{
	float: right;;
	padding-left: 0em;
}


.nav a{
	padding-left: 1em;
}

.button-nav a:hover{

}

.brand{
	font-size: 20px;
	padding-right: 2em;
}

.brand a{
	font-size: 24px;
	padding-right: 2em;
	color: white;
}

.icons{
	float: right;
}

.icon{
	padding-right: 10px;
	padding-top: 15px;
	width: 30px;
	height: auto;
	position: relative;
	z-index: 999;
	float: left;

}

.icon-on-nav{
	padding: 1rem;
	float: right;

}

.button-nav{
	display: inline-block;
	padding: 0em 1em 0em 1em;
	color: white;
	list-style-type: none;
	text-decoration: none;
}


.nav{
	width: 100%;
	top: 0;
	position: fixed;
	background-color: #B8C1C1;
	z-index: 5;
}



.my-cart{
	z-index: 999;
	
}

.my-fav{
	z-index: 999;
	padding-left: 0;


}

.search{
	z-index: 999;

}

/*navigation bar end*/

/*image*/
img{
	display: block;
	margin: auto;
	width: 100%;
}

#image-holder{
	width: 100%;
	margin-top: 5rem;
	height: auto;
	

}

#image-holder img{
	width: 100%;
	height: auto;

	
}

#instagram-pic{
	width: 100%;
}

#instagram-pic img{
	width: 100%;
	height: auto;
	padding: 1rem;
}

/*text element*/

h1{
	color:black;
	font-size: 15px;
}

h2{
	color: grey;
	font-size: 20px;
	text-transform: lowercase;
}




.content-text {
	width: 75%;
	height: auto;
	position: absolute;
	top: 26%;
	left: 18%;
	text-align: center;
}

.content-text button{
	text-align: center;
	text-transform: uppercase;
	padding: 1em 5em;
	margin-top: 40em;
	margin-right: 8em;
	letter-spacing: 2px;
	background-color: #94b0d1;
	color:white;
}

.content-text h1{
	color: white;
	letter-spacing: 2px;
	font-size: 24px;
	max-width: 80%
	text-align:center;
}

.title{
	padding: 0.2em 1em;
	text-align: center;
	border-bottom: 1px solid rgba(50,50,50,0.1);
	margin-top: 5rem;
}

/*item page  section*/
#item-info{
	height: auto;
	margin-top: 3rem;
}

<<<<<<< HEAD
.item-text-info{
	margin-top: 3rem;
}

#item-image{
	height: auto;
	margin-left: 2rem;
}

.img-item{
	width: 50%;
	height: auto;
	padding-top: 2rem;
}

.image-list-container{
	width: 90%;
	height: auto;
	margin: 0 auto;
}

#item-text{
	height: auto;

}

#add-to-cart-container{
	height: auto;
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 1em;
}

#add-to-cart-container a{
	display: inline-block;
}

.item-text-info a{
	background-color: #f7d98a;
	color: white;
	padding: 0.8rem 3rem;
	margin-bottom: 1rem;
}

.item-text-info  h2{
	color: #729bcc;
	text-transform: uppercase;
}

.item-text-info  h1{
	color: #94b0d1;
}

.item-text-info  p{
	color: grey;
}

.item-text-info  li{
	color: grey;
}

#description{
	display: block;
}
/*footer section*/
.footer-bg{
	padding: 1rem;
	background-color: #B8C1C1;

}

.footer-ul{
	text-align: center;
	font-size: 12px;
}

.footer-content{
	display: inline-block;
	color: #f7d98a;
}

.footer-icons{
	width: 20%;
	margin: 0 auto;
}

.center-container{
	width: 52%;
	margin: 0 auto;
	height: auto;
}
=======


/* product css*/

h3{
	

}

.type li{
	text-align:left;
	list-style-type:none;
	font-size: 12px;
	padding-left: 2.5em;
	color:gray;
	
}

.filter h3{
	padding: 0.5em 5em;
	background-color: #B8C1C1;

}

.filter {
	color: white;
	position: relative;
	text-align:center;
	display: inline-block;
	padding-top: 10em;
	


}

.product{
	position: relative;

}

.product img{
	width:auto;
	display:block;
	opacity: 1.0;
    filter: alpha(opacity=100);
    
}

}

.product img:hover{
 
     opacity: 0.5;
    filter: alpha(opacity=50); 
}

>>>>>>> master
