@font-face {
	font-family: 'SfUiDisplay';
	font-weight: normal;
	font-style: normal;
	src: url('../FONT/SF-UI-Display-Regular.otf');

}

@font-face {
	font-family: 'SfUiDisplay';
	font-weight: lighter;
	font-style: normal;
	src: url('../FONT/SF-UI-Display-Light.otf');

}